body{
    background-color: navy;
}


.search-label{
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skitter{
    max-width: 100% !important;
}
.container_skitter img {     
    height: 460px !important ; 
    
} 

.slider, .search{
    color: white;
    font-weight: bold;
    text-align: center;
}